.navbar-brand{
    font-family: 'Reggae One', cursive;
}

.new-link active {
    font-size: smaller;
}

 .giflist {
     max-width: 300px;
     max-height:300px;
 }

 .col-lg-4 {
     align-items: center;
     justify-content: space-around;
     
 }